{%- set show_deleter = show_deleter|default(True) -%}
<p>
    <strong>
        {%- if show_deleter and comment.deleted_by_user_id %}
            {{ _('Comment deleted by') }}
            {% if 'deleted_user_state' in comment and comment.deleted_user_state == 'deleted' %}
                {{ comment.deleted_username }}
            {% else %}
                {% link_for _(comment.deleted_username), controller='user', action='read', id=comment.user_id -%}
            {% endif %}
        {%- else -%}
            {{ _('This comment was deleted') -}}
        {%- endif -%}
        .
    </strong>
</p>
